.search{
    width: 500px;
    margin: auto;
}
.search-input input{
    font: inherit;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 30px;
    margin-left: 172px;
}

.search-input input:focus{
    outline: none;
    border-color: #ff2058 ;
}