*{
  box-sizing: border-box;
}

html,body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

button{
  font: inherit;
  background: #ff2058;
  color: white;
  border : 1px solid #ff2058;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 35px;
  margin: 4px 0;
}

button:hover,button:focus{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}

li{
  list-style-type: none;
}